RAG Chatbot/RAG Chatbot.json
{
  "name": "RAG Chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1FLUFAJUepttuoSm9yQezxnCxYvlNeGI-",
          "mode": "list",
          "cachedResultName": "n8n-series",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1FLUFAJUepttuoSm9yQezxnCxYvlNeGI-"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        -112
      ],
      "id": "94511403-6dd6-4a76-9864-4d0cfcc61069",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P2revizpD1Fb0IpH",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -528,
        -112
      ],
      "id": "37d00cc9-6fa1-4dc4-83d3-489094ab5f95",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "P2revizpD1Fb0IpH",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-series",
          "mode": "list",
          "cachedResultName": "n8n-series"
        },
        "options": {
          "pineconeNamespace": "RAG"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -336,
        -112
      ],
      "id": "b9503745-29dd-4a30-a4cb-8acc15ccc72b",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "H8howmmZocm4gj2L",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -384,
        96
      ],
      "id": "f1e54d31-b7fd-42e8-9a49-cf53e8755ff2",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -208,
        96
      ],
      "id": "f017cd46-5cf7-47fa-b76e-0708de08d7c5",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -288,
        288
      ],
      "id": "23f99af3-f4d2-4d87-8231-c21bb5d60d94",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant that help to gives information about all recipe bu using knownlege base tool."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        384,
        -160
      ],
      "id": "067df44f-5041-4513-89ec-bab29123f5ae",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use this knowlegde base for incredients and methods for recipies",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-series",
          "mode": "list",
          "cachedResultName": "n8n-series"
        },
        "options": {
          "pineconeNamespace": "RAG"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        592,
        64
      ],
      "id": "9500e581-36d3-48d0-a856-c3fd526156c7",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "H8howmmZocm4gj2L",
          "name": "Pinecone account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        688,
        272
      ],
      "id": "669d16ae-4eed-4434-b9fe-6f8db0e63019",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        160,
        -160
      ],
      "id": "076a16b4-0f4e-4c0e-83cc-5303e3a13235",
      "name": "When chat message received",
      "webhookId": "938efed4-b9bc-45eb-8daf-d0adfb624de5"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        352,
        80
      ],
      "id": "0a029ac5-10d6-4d8a-9905-99b4a6162b57",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": null,
          "name": "",
          "__aiGatewayManaged": true
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "d1598ee5-26cd-489a-a427-996331c0b646",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4329b084adac2ed5db123300b1710e37ab92ac345d0296184873f700f60cb4b"
  },
  "nodeGroups": [],
  "id": "fpMbmZZH84OGLJgw",
  "tags": []
}